<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Upload your images with reactgur.">
    <meta name="author" content="Garrett Seward">

    <title>{{ app_name }}</title>

    {% assets 'css' %}
    <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
  </head>

  <body>
    <div id="entry"></div>
    <script type="text/javascript">
      var IMAGES = {{ images|safe }};
      var APP_NAME = '{{ app_name }}';
      var APP_CONF = {{ app_conf|safe }};
      var APP_DATA = {{ app_data|safe }}
    </script>
    {% assets 'js' %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="text/javascript" src="/static/bundle.js"></script>
  </body>
</html>
